.about-container {
  background: $purple;
  color: $white;
  height: 100vh;
  width: 100vw;

  & #about{
    padding-top: 38.9vh;
    padding-left: $padding * 4;
    clear:both;

    & h5{
      font-weight: 200;
      vertical-align: middle;
      float: left;
      display: inline-block;
      width: 50vw;
      font-size: 1em;
      letter-spacing: 1.2px;
      line-height: 1.2em;
      font-weight: 200;
      & span {
        color: $teal;
      }
    }

    & #logo-img{
      width: 144px;
      height: 144px;
      border: none;
      border-radius: 50%;
      vertical-align: middle;
      float: left;
      margin-right: $padding * 4;
      background-image: url('images/logo.png');
    }
  }
}
