.about-container {
  background: $purple;
  color: $white;
  height: 100vh;
  width: 100vw;

  & #about{
    padding-top: 30vh;
    padding-left: $padding * 18;
    clear:both;

    & #close a {
      font-weight: 200;
      font-size: 4em;
      color: $light-purple;
      margin-left: 65vw;
      top: -90px;
      position: relative;

      &:hover{
        color: $white;
        transition: color 250ms;
        cursor: pointer;
      }
    }

    & h5{
      font-weight: 200;
      margin-top: 12px;
      vertical-align: middle;
      float: left;
      display: inline-block;
      width: 60vw;
      font-size: 1em;
      letter-spacing: 0.5px;
      & span {
        color: $teal;
      }
    }

    & #logo-img{
      width: 144px;
      height: 144px;
      border: none;
      border-radius: 50%;
      vertical-align: middle;
      float: left;
      margin-right: $padding * 4;
      background-image: url('images/logo.png');
    }
  }
}
