::-webkit-scrollbar {
  display: none;
}

#footer {
    position: fixed;
    top: 90vh;
    left: $padding * 4;

  & #add-organization{
    letter-spacing: 1.7px;
    font-size: 1em;
    display: block;
    border-radius: 10px;
    color: $white;
    padding: $padding $padding $padding/4 0;
    font-weight: 200;

    &:hover{
      color: $teal;
      transition: color 250ms;
    }
  }

  .dots {
    .dot{
      width: 10px;
      height: 10px;
      border-radius: 50%;
      display: inline-block;
      margin-right: 5.8px;

      &.blue{ background-color: $teal; }
      &.green{ background-color: $green; }
      &.light-purple{ background-color: $grey; }
      &.yellow{ background-color: $yellow; }

      &.orange{ background-color: $orange; }
      &.pink{ background-color: $pink; }
    }
  }
}

.landing {
  background: $purple; /* fallback for old browsers */
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  overflow-y: hidden;
  overflow-x: hidden;
  position: fixed;

  & #landing-text{
    position: absolute;
    left: $padding * 4;
    top: 40vh;
    color: $white;
    z-index: 1;
    width: 100vw;

    /*
      hr#shadow{
      z-index: 100;
      border: none;
      left: 375px;
      top: 85px;
      position: absolute;
      width: 300px;
      height: auto;
      -webkit-box-shadow: inset 13px 20px 57px 0px rgba(104,34,139,1);
      -moz-box-shadow: inset 13px 20px 57px 0px rgba(104,34,139,1);
      box-shadow: inset 0px -20px 57px 0px rgba(104,34,139,1);
    }
    */

    & .links-box{
      opacity: 0;
      height: 0;
    }

    & .links-box.visible {
      opacity: 1;
      position: absolute;
      left: 385px;
      width: 290px;
      height: 300px;
      top: -378px;
      overflow: auto;
      background: transparent;
      position: absolute;
      padding-top: 128px;
      padding-bottom: 500px;

      & #links {
        overflow-y: hidden;
        margin-bottom: -33px;
        text-align: left;
        padding-top: 290px;

        & .active{
          color: $white;
        }

        & a{
          width: 300px;
          z-index: 10;
          font-weight: 700;
          display: block;
          font-size: 2.3em;
          color: $light-purple;
          letter-spacing: 1px;

          &:hover{
            cursor: pointer;
            color: #9d70b4;
          }
        }
      }

      ::-webkit-scrollbar {
          display: none;
      }
    }

    & #header {
      height: 120px;
      position: relative;

      & div#logo-img {
        width: 144px;
        height: 144px;
        display:inline-block;
        border: none;
        border-radius: 50%;
        z-index: 1000;
        margin-top: -10px;
        background-image: url('images/logo.png')
      }

      & h1.landing-header {
        position: absolute;
        color: $teal;
        font-size: 2.4em;
        font-weight: 900;
        vertical-align: middle;
        line-height: 120px;
        display: inline-block;
        margin-left: $padding;
      }
    }
  }

  & #fillgauge{
    width:100%;
    height:400px;
    position: absolute;
    top: 30vh;
  }
}

.landing-side-grid{
  right:-40vw;
  transition: right ease 250ms;

}

.landing-side-grid.visible{
  right: 0;
  transition: right ease 250ms;
  display: block;
  z-index: 100;
  width: 40vw;
  height: 100%;
  clear: both;
  padding: 0 $padding * 3;
  box-sizing: border-box;
  overflow-y: auto;
  position: absolute;
  background: $white;

  & #category-list{
    margin-top: $padding * 14;
    padding-bottom: $padding * 6;
  }

  & hr{
    border: 2px solid $teal;
    text-transform: uppercase;
    margin-top: -$padding * 3;
    position: fixed;
    width: 100%;
  }

  & .category-div {
      margin-bottom: $padding * 3;

      &:after {
        border-left: 3px solid $teal;
        content: '';
        display: block;
        position: absolute;
        top: 80px;
        left: -10px;
        width: 0;
        height: 0;
        border-color: transparent transparent transparent $purple;
        border-style: solid;
        border-width: 10px;
      }
      & h4{
        display: inline-block;
        padding: $padding 0 0 0;
        margin: $padding 0 0 0;
        max-width: 30vw;
        text-transform: uppercase;
        font-weight: 900;
        font-size: 1.3em;
      }

      & .category-description{
        font-family: 'Work Sans', sans-serif;
        font-weight: 400;
        letter-spacing: 0.5px;
        font-size: 1em;
      }

      & #message {
        letter-spacing: 1px;
        margin: 30px auto;
        color: $blue;
      }
      & h6#donate{
          color: $green;
      }
      & h6#volunteer{
          color: $pink;
      }

      & .category-links {
        border-radius: 10px;
        display: inline-block;
        border: none;
        border-radius: 15px;
        margin-top: $padding * 1.5;
        color: $light-purple;
        & a {
          font-size: 0.7em;
          padding: $padding;
          background-color: $light-grey;
          color: $purple;
          border-radius: 12px;
          margin-right: $padding;
          line-height: 2em;

          &:hover{
            background-color: $purple;
            color: $white;
            transition: color 250ms, background-color 250ms;
          }
          & span{
            margin-left: $padding/2;
            font-size: 1.8em;
            vertical-align: middle;
            &#donate { color: $green; }
            &#online { color: $teal; }
            &#volunteer { color: $pink; }
          }
        }
      }
  }

  & #sub-category-list {
    position: fixed;
    width: 40vw;
    background: $white;
    height: $padding * 7;
    padding-top: $padding * 4.2;
    border-bottom: 3px solid $teal;
    & h6, button{
      display: inline-block;
    }

    & h6{
      margin-right: $padding;
    }

    & button {
      background-color: $light-grey;
      border: none;
      border-radius: 15px;
      margin-right: $padding;
      color: $light-purple;



      &.active{
        background-color: $light-purple;
        color: $white;
      }

      &:hover{
        background-color: $light-purple;
        color: $white;
        cursor: pointer;
        transition: background-color 250ms, color 250ms;
      }

      & span.action {
        width: 8px;
        height: 8px;
        display: inline-block;
        border-radius: 50%;
        margin-right: $padding/2;
        margin-top: 3px;
      }

    }
  }
}

