.header {
  background: $purple; /* fallback for old browsers */
  height: 20vh;
  width: 100vw;
  box-sizing: border-box;
  position: fixed;
  z-index: 1;

  & h1.landing-logo {
    color: $light-pink;
    position: absolute;
    top: $padding * 4;
    left: $padding * 4;
    font-weight: 700;
    height: 34px;
    width: 32px;
    background-image: url('images/hamburger.png');
    &:hover{
      cursor: pointer;
    }
  }

  & .menu{
    display: hidden;
  }

  & .visible.menu {
    display: inline-block;
    opacity: 1;
    transition: opacity 500ms;
    margin-top: $padding * 3;
    margin-left: $padding * 12;
    height: 50px;
    width: auto;
    background: $purple;

    & a { color: $white; margin-right: 10px; }

    & div.social {
      color: $white;
      padding-right: $padding * 4;
      vertical-align: middle;
      display: inline-block;
    }

    & div.social#share{
      width: 10px;
      height: 50px;
      background: url('images/share_white.png');
    }
    & div.social#facebook{
      width: 10px;
      height: 50px;
      background-image: url('images/facebook_white.png');
    }
    & div.social#email{
      width: 10px;
      height: 50px;
      background-image: url('images/email_white.png');
    }
    & div.social#instagram{
      width: 10px;
      height: 50px;
      background-image: url('images/instagram_white.png');
    }
  }
}
.landing {
  background: $purple; /* fallback for old browsers */
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  overflow-y: hidden;
  overflow-x: hidden;
  position: fixed;


  & #add-organization{
    background-color: transparent;
    color: $white;
    border: 3px solid $light-purple;
    padding: $padding;
    display: block;
    position: absolute;
    top: 90vh;
    left: $padding * 4;

    &:hover{
      color: $red;
      border: 3px solid $red;
      transition: color 250ms, border 250ms;
    }
  }

  & #landing-text{
    position: absolute;
    left: $padding * 4;
    top: 35%;
    color: $white;
    z-index: 1;
    width: 100vw;

    & #underline {
      display: inline-block;
      border-bottom: 2px solid $light-purple;
      width: 300px;
    }

    hr#shadow{
      z-index: 100;
      border: none;
      left: 375px;
      top: 85px;
      position: absolute;
      width: 300px;
      height: 30px;
      -webkit-box-shadow: inset 13px 20px 57px 0px rgba(104,34,139,1);
      -moz-box-shadow: inset 13px 20px 57px 0px rgba(104,34,139,1);
      box-shadow: inset 0px -20px 57px 0px rgba(104,34,139,1);
    }

    & #links-box {
      position: absolute;
      left: 375px;
      width: 300px;
      height: 70px;
      top: 40px;
      overflow: auto;
      background: transparent;
      position: absolute;

      & #links {
        overflow-y: hidden;
        padding-bottom: 20px;
        text-align: center;
        & a{
          width: 300px;
          z-index: 10;
          font-weight: 700;
          display: block;
          font-size: 2em;
          color: $white;
          padding-bottom: 10px;
          margin: 0;
          letter-spacing: 1px;

          &:hover{
            cursor: pointer;
            color: $teal;
          }
        }
      }

      ::-webkit-scrollbar {
          display: none;
      }

    }

    & #header {
      height: 120px;
      position: relative;

      & div#logo-img {
        width: 144px;
        height: 144px;
        display:inline-block;
        border: none;
        border-radius: 50%;
        z-index: 1000;
        background-image: url('images/logo.png')
      }

      & h1.landing-header {
        position: absolute;
        color: $teal;
        font-size: 2.4em;
        font-weight: 900;
        vertical-align: middle;
        line-height: 120px;
        display: inline-block;
        margin-left: $padding;

      }
    }
  }

  & #fillgauge{
    width:100%;
    height:400px;
    position: absolute;
    top: 30vh;
  }
}

.landing-side-grid{
  right:-40vw;
  transition: right ease 250ms;

}

.landing-side-grid.visible{
  right: 0;
  transition: right ease 250ms;
  display: block;
  z-index: 100;
  width: 40vw;
  right: 0;
  height: 100%;
  clear: both;
  padding: 0 $padding * 3;
  box-sizing: border-box;
  overflow-y: auto;
  position: absolute;
  background: $white;

  & #category-list{
    margin-top: $padding * 14;
    padding-bottom: $padding * 6;
  }

  & .category-header{
    color: $dark-blue;
    border-bottom: 3px solid $dark-blue;
    text-transform: uppercase;
    margin: -$padding * 4 auto $padding * 2;
    position: fixed;
    width: 100%;
  }

  & .category-div {
      & h4{
        display: inline-block;
        padding: $padding 0 5px 0;
        margin: $padding 0 $padding 0;
        max-width: 30vw;
      }

      & .category-description{
        font-family: 'Work Sans', sans-serif;
        font-weight: 400;
        letter-spacing: 0.5px;
      }

      & #message {
        letter-spacing: 1px;
        margin: 30px auto;
        color: $blue;
      }

      & .action {
        width: 8px;
        height: 8px;
        display: inline-block;
        border-radius: 50%;
        margin-right: $padding/2;
        margin-top: 3px;

        &#donate{
          background-color: $green;
          color: $green;
        }

        &#online activism {
          background-color: $blue;
          color: #2196f3;
        }

        &#in-person, h6{
          background-color: $yellow;
          color: $yellow;
        }
      }
    &:hover{
      color: $blue;
      cursor: pointer;
    }
  }


  & #sub-category-list {
    position: fixed;
    width: 100%;
    background: $white;
    height: $padding * 9.5;
    padding-top: $padding * 3;


    & h6, button{
      display: inline-block;
    }

    & h6{
      margin-right: $padding;
    }

    & button {
      background-color: $light-grey;
      border: none;
      border-radius: 15px;
      margin-right: $padding;
      color: $light-purple;

      &:hover{
        background-color: $light-purple;
        color: $white;
        cursor: pointer;
        transition: background-color 250ms, color 250ms;

      }

      & span.action {
        width: 8px;
        height: 8px;
        display: inline-block;
        border-radius: 50%;
        margin-right: $padding/2;
        margin-top: 3px;


      }
    }
  }

  & .category-links {
    border-radius: 10px;
    display: inline-block;
    width: 100%;

    & span, div {
      display: inline;
      float: left;
    }
  }
}

