
.header {
  height: 20vh;
  box-sizing: border-box;
  position: fixed;
  z-index: 1;

  p { color: $white; }

  & div.landing-logo img {
    color: $light-pink;
    position: absolute;
    top: $padding * 4;
    left: $padding * 4;
    font-weight: 700;
    height: 18px;
    width: 20px;
    background-image: url('/howdoihelp/images/hamburger-white.png');

    &:hover{
      cursor: pointer;
    }
  }

  & .menu{
    display: none;
  }

  & .visible.menu {
    opacity: 1;
    display: block;
    transition: opacity 500ms;
    margin-top: $padding * 10;
    margin-left: $padding * 4;

    & a {
      color: $white;
      margin-right: 12px;
      margin-bottom: $padding/2;
      clear: both;
      display: block;
      font-weight: 300;
      letter-spacing: 1px;
      font-size: 0.9em;
      vertical-align: middle;
      & .dot{
        width: 14px;
        height: 14px;
        border-radius: 50%;
        margin-right: 12px;
        background-color: $white;
        display: inline-block;
        vertical-align: middle;
        margin-top: -2px;
        &.blue{ background-color: $teal; }
        &.green{ background-color: $green; }
        &.light-purple{ background-color: $grey; }
        &.yellow{ background-color: $yellow; }
        &.orange{ background-color: $orange; }
        &.pink{ background-color: $pink; }
      }

      & .social{
        display: inline-block;
      }
      &:hover{
        color: $teal;
        transition: color 250ms;
        cursor: pointer;
      }
    }
  }
}
