.blue-bg  { background: $blue; }
.red      { background: $red; }
.pink { color: $pink }
.pink-bg { background: $pink }
.teal { color: $teal }
.teal-bg { background: $teal }
.green { color: $green }
.green-bg { background: $green; }
.orange {color: $orange; }

.grey{ background: $grey; }

.lightGrey{
  background-color: $light-grey;
}

html, body{
  margin: 0;
  padding: 0;
  color: $grey;
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  height: 100%;
  background: $white;
}

h1,h2,h3,h4,h5,h6{
  padding: 2px;
  margin: 0;
  font-family: 'Work Sans', sans-serif;
}

p{
  padding: 2px;
  margin: 0;
  font-size: 1em;
}

.container{
  margin: 0 auto;
}

a{
  color: $purple;
  text-decoration: none;
  font-size: 1em;

  &:hover{
    cursor: pointer;
  }
}


.container{
  background: $light-pink;
  color: $purple;
  min-height: 100vh;
  height: 100vh;
  position: relative;
  clear: both;
}

button {
  padding: $padding;
  font-family: 'Work Sans', sans-serif;
}

div#shadow-top{
  z-index: 2;
  border: none;
  left: 420px;
  top: 0;
  position: fixed;
  width: 300px;
  height: 350px;
  -webkit-box-shadow: inset 2px 200px 205px -20px rgba(104,34,139,1);
  -moz-box-shadow: inset 2px 200px 205px -2px rgba(104,34,139,1);
  box-shadow: inset 2px 200px 205px -20px rgba(104,34,139,1);
  pointer-events: none;
}

div#shadow-bottom{
  z-index: 2;
  border: none;
  left: 420px;
  top: 510px;
  position: fixed;
  width: 300px;
  height: 150px;
  -webkit-box-shadow: inset 2px -200px 205px -7px rgba(104,34,139,0.9);
  -moz-box-shadow: inset 2px -200px 205px -7px rgba(104,34,139,0.9);
  box-shadow: inset 2px -200px 205px -7px rgba(104,34,139,0.9);
  pointer-events: none;
}

